.team-container {
  display: flex;
  gap: 32px;
  padding: 16px 24px;
}

.forwards-section {
  flex: 1;
}

.defense-goalies-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-background {
  border-radius: 12px;
  background-color: #64B5F6;
  padding: 16px;
}


mat-grid-tile {
  padding: 0 !important;
}

.player-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.team-stats {
  display: flex;
  gap: 32px;
  padding: 16px 24px;
}

.over {
  color: #f44336; /* red */
  font-weight: bold;
}

.near {
  color: #ff9800; /* yellow/orange */
  font-weight: bold;
}

.ok {
  color: #4caf50; /* green */
  font-weight: bold;
}


/* CDK drag adjustments */
.cdk-drag-placeholder {
  display: none !important;
}
.cdk-drag-animating {
  transition: none !important;
}
.cdk-drag-preview {
  z-index: 1000;
}
