.team-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 32px;
}

.section-background {
  flex: 1;
  border-radius: 12px;
  background-color: #655e5e;   /* light gray shading */
}

mat-grid-list {
  width: 100%;
}
