<mat-card
  class="player-card"
  [class.empty-slot]="player.name === DEFAULT_PLAYER.name"
  (click)="onCardClick()"
  (contextmenu)="onRightClick($event)"
>
  <mat-card-header *ngIf="player.name !== DEFAULT_PLAYER.name; else emptyContent">
    <mat-card-title>{{ player.name }}</mat-card-title>
    <mat-card-subtitle>{{ player.team }} - {{ player.country }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Handedness: {{ player.handedness }}</p>
    <p>Overall: {{ player.overall }}</p>
    <p>Salary: ${{ player.salary | shortMoney }}</p>
  </mat-card-content>
</mat-card>

<ng-template #emptyContent>
  <mat-card-header>
    <mat-card-title>Empty Slot</mat-card-title>
    <mat-card-subtitle>Click to Add</mat-card-subtitle>
  </mat-card-header>
</ng-template>
